<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--For Page-->
<div class="page">
    <!--For Row containing all card-->
    <div class="row">
        <!--Card 1-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="./assets/imagess/nivea.jfif" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Nivea</a></strong></h4> <!-- Card Description-->
                   
                    <p class="price">$50</p> <!-- Card Rating-->
                    <ul class="row rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Card 2-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="./assets/imagess/mamaearth.jfif" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">MamaEarth</a></strong></h4>
                    <!--Card Description-->
                    <p class="card-text"> </p>
                    <p class="price">$60</p> <!-- Card Rating-->
                    <ul class="row rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Card 2-->
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="./assets/imagess/cerave.jfif" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">Cerave </a></strong></h4>
                    <!--Description-->
                    <p class="card-text"> </p>
                    <p class="price">$70</p> <!-- Card Rating-->
                    <ul class="row rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--For Page-->
    <div class="page">
        <!--For Row containing all card-->
        <div class="row">
            <!--Card 1-->
            <div class="col-sm">
                <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                    <!--Card image-->
                    <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="./assets/imagess/biotique.jfif" alt=""> <a>
                            <div class="mask rgba-white-slight"></div>
                        </a> </div>
                    <!--Card Body-->
                    <div class="card-body card-body-cascade text-center">
                        <!--Card Title-->
                        <h4 class="card-title"><strong><a href="">Biotique</a></strong></h4> <!-- Card Description-->
                       
                        <p class="price">$50</p> <!-- Card Rating-->
                        <ul class="row rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <!--Card footer-->
                        <div class="card-footer">
                            <p>ADD TO CART</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card 2-->
            <div class="col-sm">
                <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                    <!--Card image-->
                    <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="./assets/imagess/plum.jfif" alt=""> <a>
                            <div class="mask rgba-white-slight"></div>
                        </a> </div>
                    <!--Card Body-->
                    <div class="card-body card-body-cascade text-center">
                        <!--Card Title-->
                        <h4 class="card-title"><strong><a href="">Plum</a></strong></h4>
                        <!--Card Description-->
                        <p class="card-text"> </p>
                        <p class="price">$60</p> <!-- Card Rating-->
                        <ul class="row rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <!--Card footer-->
                        <div class="card-footer">
                            <p>ADD TO CART</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card 2-->
            <div class="col-sm">
                <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                    <!--Card image-->
                    <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="./assets/imagess/ponds.jfif" alt=""> <a>
                            <div class="mask rgba-white-slight"></div>
                        </a> </div>
                    <!--Card Body-->
                    <div class="card-body card-body-cascade text-center">
                        <!--Card Title-->
                        <h4 class="card-title"><strong><a href="">Ponds</a></strong></h4>
                        <!--Description-->
                        <p class="card-text"> </p>
                        <p class="price">$70</p> <!-- Card Rating-->
                        <ul class="row rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <!--Card footer-->
                        <div class="card-footer">
                            <p>ADD TO CART</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
