
<div class="container">
    <h1>Shop By Brand</h1>
    <div class="cardList">
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/ajio.jfif')"></div>
        </div>
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/aurelia.png')"></div>
        </div>
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/myntra.jfif')"></div>
        </div><span class="cardList__title">Kurtas</span>
    </div>
    <div class="cardList">
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/biba.png')"></div>
        </div>
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/flipkat.png')"></div>
        </div>
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/max.png')"></div>
        </div><span class="cardList__title">chudidhar</span>
    </div>
    <div class="cardList">
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/fabal.jfif')"></div>
        </div>
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/zara.png')"></div>
        </div>
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/hm.png')"></div>
        </div><span class="cardList__title">Tops & Tees</span>
    </div>
    <div class="cardList">
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/urbanci.png')"></div>
        </div>
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/shein.png')"></div>
        </div>
        <div class="card">
            <div class="card__bg" style="background-image: url('./assets/imagess/amazon.png')"></div>
        </div><span class="cardList__title">croptop</span>
    </div>
</div>